---
import yaml from 'js-yaml'

import site from '~/site'
import { githubRepositoryUrl } from '~/config'
import navbarYml from '~/data/navbar.yml?raw'
import navbarplusYml from '~/data/navbarplus.yml?raw'

const navbar = yaml.load(navbarYml) as any
const navbarplus = yaml.load(navbarplusYml) as any
---

<nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
	<div class="container">
		<a class="navbar-brand" href="/">{site.title}</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="visibility: inherit;">
			<div class="navbar-nav mr-auto">
				{navbar.map((item: any) => (
					item.children ? (
						<div class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarPlusDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{item.title}</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarPlusDropdown">
								{item.children.map((subitem: any) => (
									<a class="dropdown-item" href={subitem.href}>{subitem.title}</a>
								))}
							</div>
						</div>
					) : (
						<a class="nav-item nav-link" href={item.href}>{item.title}</a>
					)
				))}
			</div>
			<div class="navbar-nav">
				<a class="nav-item nav-link" href={githubRepositoryUrl}><span class="icon icon-[fa6-solid--code-branch] icon-fw"></span> Github</a>
				<div class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarPlusDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon icon-[fa6-solid--plus] icon-fw"></span></a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarPlusDropdown">
						{navbarplus.map((item: any) => (
							<a class="dropdown-item" href={item.href}>{item.title}</a>
						))}
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>

<style lang="scss">
#navbar {
	background: #183048;
	display: initial; /* Toggles off `display: flex` from Bootstrap */
}
#navbar .dropdown-menu {
    background: #285078;
}
#navbar .dropdown-menu .dropdown-item {
    color: #fff;
}
#navbar .dropdown-menu .dropdown-item:hover,
#navbar .dropdown-menu .dropdown-item:focus {
    background: #306090;
}
#navbar .dropdown-menu .dropdown-item:active {
    background: #3870a8;
}
#navbar .dropdown-menu .dropdown-item.active {
    background: #4080c0;
}
</style>
