---
import yaml from 'js-yaml'

import '@fontsource/roboto/400.css'
import '@fontsource/roboto/500.css'
import '@fontsource/roboto/700.css'
import '@fortawesome/fontawesome-free/css/all.min.css'
import 'bootstrap/dist/css/bootstrap.min.css'
import bootstrapJs from 'bootstrap/dist/js/bootstrap.bundle.min.js?url'
import '~/styles/tiles.css'
import '~/styles/style.css'
import scriptJs from '~/scripts/script.js?url'

import Layout from '~/layouts/Layout.astro'
import type { Props as BaseProps } from '~/layouts/Layout.astro'
import navbarYml from '~/data/navbar.yml?raw'
import navbarplusYml from '~/data/navbarplus.yml?raw'

export interface Props extends BaseProps
{
	noScripts?: boolean
	newsline?: boolean
	textalignleft?: boolean
}

const {
	title = 'EPITA.it',
	noScripts = false,
	newsline = false,
	textalignleft = false,
} = Astro.props

const baseProps: BaseProps = {
	...Astro.props,
	themeColor: '#183048',
}

const navbar = yaml.load(navbarYml) as any
const navbarplus = yaml.load(navbarplusYml) as any

const githubRepositoryUrl = process.env.GITHUB_REPOSITORY_URL || null as string | null
const githubSha = process.env.GITHUB_SHA || null as string | null
const build = githubSha ? githubSha.slice(0, 7) : 'dev'
---

<Layout {...baseProps}>

	<Fragment name="head">
		<link rel="icon" sizes="48x48" href={`/assets/icon-48.png?v=${build}`} />
		<link rel="icon" sizes="192x192" href={`/assets/icon-192.png?v=${build}`} />
		<link rel="icon" sizes="512x512" href={`/assets/icon-512.png?v=${build}`} />
		<link rel="apple-touch-icon" href={`/assets/apple-icon.png?v=${build}`} />
		<link rel="manifest" href="/manifest.json" />
	</Fragment>

	<div id="warn-invalid-modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"><i class="fas fa-exclamation-triangle fa-fw"></i> The link to <b id="warn-invalid-brand"></b> is invalid</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Beware! This link has been tagged as invalid. This means:</p>
				<ul>
					<li>the link could be dead or broken</li>
					<li>the link could have been taken over</li>
					<li>the link could point to irrelevant information</li>
				</ul>
				<p>Do you really want to continue to <code id="warn-invalid-href"></code>?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<a href="#" id="warn-invalid-link" class="btn btn-primary" target="_blank">Yes, continue anyway</a>
			</div>
			</div>
		</div>
	</div>

	<nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
		<div class="container">
			<a class="navbar-brand" href="/">{title}</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav mr-auto">
					{navbar.map((item: any) => (
						item.children ? (
							<div class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarPlusDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{item.title}</a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarPlusDropdown">
									{item.children.map((subitem: any) => (
										<a class="dropdown-item" href={subitem.href}>{subitem.title}</a>
									))}
								</div>
							</div>
						) : (
							<a class="nav-item nav-link" href={item.href}>{item.title}</a>
						)
					))}
				</div>
				<div class="navbar-nav">
					<a class="nav-item nav-link" href={githubRepositoryUrl}><i class="fas fa-code-branch fa-fw"></i> Github</a>
					<div class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarPlusDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus fa-fw"></i></a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarPlusDropdown">
							{navbarplus.map((item: any) => (
								<a class="dropdown-item" href={item.href}>{item.title}</a>
							))}
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>

	{newsline && (
		<div id="newsline">
			<div class="container">
				<div class="carousel-item active">
					<i class="fas fa-folder-open fa-fw"></i>
					Showcase your S2 project on your school year group page! Contribute on the <a href={githubRepositoryUrl}>Github repository</a>!
				</div>
				<div class="carousel-item">
					<i class="fas fa-book fa-fw"></i>
					Need to study for your exams? Check out <a href="https://past-exams.epidocs.eu/">Past-Exams</a>!
				</div>
				<div id="addToHomeScreen" class="carousel-item">
					<i class="fas fa-info-circle fa-fw"></i>
					<b>Add to your home screen</b> for easier access!
				</div>
			</div>
		</div>
	)}

	<div id="main" class={textalignleft ? 'text-left' : undefined}>
		<div class="container">

			<slot />

		</div>
	</div>

	<div id="footer">
		<div class="container">
			<p>
				Made with <i class="fas fa-heart fa-fw text-danger"></i> by EPITA students.
				<a href={`${githubRepositoryUrl}#license`}>
					<img alt="CC BY-NC 4.0" src="https://mirrors.creativecommons.org/presskit/buttons/80x15/svg/by-nc.svg" />
				</a> <br />
				We use cookies for analytics purposes.
			</p>
			<ul>
				<li><a href={githubRepositoryUrl} class="btn btn-primary btn-sm">Contribuez sur Github</a></li>
				<li><a href="https://epidocs.eu/" class="btn btn-info btn-sm">Géré par Epidocs</a></li>
				<!-- <li><a href="/tos" class="btn btn-primary btn-sm">Conditions générales</a></li> -->
			</ul>
		</div>
	</div>

</Layout>

{!noScripts && (
	<script src={bootstrapJs}></script>
	<script src={scriptJs}></script>
)}
